<div class ="container" >
    <label>Register</label>
 <input type="text" [(ngModel)]="userName" class="form-control margin-top" placeholder="User Name" >
<input type="text" [(ngModel)]="email" class="form-control margin-top" placeholder="email" >
<input type="password"  [(ngModel)]="password" class="form-control margin-top" placeholder="password">
<input type="password" class="form-control margin-top" placeholder="Retype Password">
<button class="btn btn-success margin-top" style="background-color: #007bff;" (click)="register()">Register</button>
</div>
