.navbar{
    position: absolute;
    width: 100%;
    background-color: rgba(40, 90, 156, 0.425);
    left: 0%;
   font-size: medium;
   
}
.navbar-brand{
    color: #000;
}

.jm { padding-top: 70px; }

.img1{      
    height: 100px;      
    width: 100px;           
}   